@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,300;1,400&display=swap");
:root {
  --orange:#FF8B13;
  --light-grey:#DDDDDD;
  --grey:#2B2B2B;
  --black:#0c0808;
  --white:white;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
}

a {
  font-size: 2rem;
}

section {
  width: 100%;
  height: 100vh;
  padding: 1rem 5%;
  background: #C97E34;
  background: linear-gradient(to right, #C97E34 0%, #070402 0%, #593617 100%);
}

.heading {
  text-align: left;
  color: var(--white);
  font-size: 4rem;
  font-weight: 900;
  margin: 15px 0;
  padding-bottom: 3rem;
  position: relative;
}
.heading::before {
  content: "";
  height: 4px;
  width: 90px;
  background-color: var(--orange);
  position: absolute;
  top: 65%;
  left: 0;
}
.heading::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--orange);
  position: absolute;
  top: 75%;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 4rem;
  background-color: var(--grey);
  justify-content: space-between;
  text-align: left;
  border-right: solid 1px var(--light-grey);
}
header .pic {
  margin: 10px;
  text-align: center;
}
header .pic img {
  box-shadow: -2px 4px 16px 16px rgba(0, 0, 0, 0.76);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: solid 2px #FF8B13;
  overflow: hidden;
}
header .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .list i {
  color: var(--orange);
  font-size: 2rem;
  margin: 1rem;
}
header .list a {
  color: white;
  text-decoration: none;
  margin: 5px;
  border-bottom: solid 1px var(--light-grey);
}
header .list a:hover {
  color: var(--orange);
  scale: 1.1;
}
header .links {
  text-align: center;
}
header .links i {
  color: var(--orange);
  font-size: 2rem;
  margin: 1rem;
}
header .links a {
  border: solid 1px var(--light-grey);
}
header .links a:hover {
  background-color: var(--orange);
}
header .links a:hover i {
  color: var(--light-grey);
}

.containe {
  margin-left: 270px;
}
.containe #Home {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  max-width: 100%;
  grid-template-areas: "logo logo" "row image";
}
.containe #Home .logo {
  grid-area: logo;
  height: 100px;
  margin: 1rem 0;
}
.containe #Home .logo img {
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scale: 2;
}
.containe #Home .row {
  grid-area: row;
  margin: 0;
}
.containe #Home .row h3 {
  font-size: 29px;
  color: var(--white);
  font-weight: 300;
}
.containe #Home .row h3 .name {
  color: var(--orange);
  font-family: "Courgette", cursive;
}
.containe #Home .row h3 .jobs {
  color: var(--orange);
}
.containe #Home .row p {
  font-size: 18px;
  color: var(--light-grey);
}
.containe #Home .row .btn {
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0 1rem;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background: var(--orange);
  cursor: pointer;
}
.containe #Home .row .btn:hover {
  border: 2px solid var(--orange);
  background-color: var(--black);
}
.containe #Home .image {
  grid-area: image;
  padding: 0 30px;
  margin: 0;
}
.containe #Home .image img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  border: 2px solid var(--orange);
}
.containe #About {
  height: auto;
}
.containe #About .contain {
  display: grid;
  color: #DDDDDD;
  max-width: 100%;
  justify-content: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: 30% 30% 40%;
  grid-template-areas: "head head head" "row row row" "info1 info2 skills";
}
.containe #About .contain .heading {
  grid-area: head;
}
.containe #About .contain .row {
  grid-area: row;
  max-width: 100%;
  margin: 15px 0;
}
.containe #About .contain .row h3 {
  font-size: 29px;
  color: var(--white);
  font-weight: 300;
  margin: 15px 0;
  padding: 0;
}
.containe #About .contain .row h3 span {
  color: var(--orange);
}
.containe #About .contain .row p {
  margin: 15px 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}
.containe #About .contain .info1 {
  grid-area: info1;
  padding-right: 15px;
}
.containe #About .contain .info1 .info-item {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey);
}
.containe #About .contain .info1 .info-item span {
  font-weight: 100;
  padding-left: 10px;
  color: var(--orange);
}
.containe #About .contain .info2 {
  grid-area: info2;
  padding-right: 15px;
}
.containe #About .contain .info2 .info-item {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey);
}
.containe #About .contain .info2 .info-item span {
  font-weight: 100;
  padding-left: 10px;
  color: var(--orange);
}
.containe #About .contain .skills {
  grid-area: skills;
  padding: 0 15px;
}
.containe #About .contain .skills .skill-item {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
}
.containe #About .contain .skills .skill-item .skill {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.containe #About .contain .skills .skill-item .progress {
  background-color: var(--black);
  border-radius: 4px;
}
.containe #About .contain .skills .skill-item .progress .progress-in {
  border-radius: 4px;
  background-color: var(--orange);
}
.containe #About .historique {
  display: grid;
  width: 100%;
  padding: 15px 0;
  color: white;
  grid-template-columns: 50% 50%;
  grid-template-areas: "education experience";
  gap: 2rem;
}
.containe #About .historique .education {
  grid-area: education;
}
.containe #About .historique .education .title {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  margin: 15px 0;
}
.containe #About .historique .education .row {
  background-color: var(--grey);
  max-width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: -1px 3px 13px -3px rgba(255, 139, 19, 0.42);
}
.containe #About .historique .education .row .timeline-item {
  padding-left: 4rem;
  position: relative;
}
.containe #About .historique .education .row .timeline-item::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 16px;
}
.containe #About .historique .education .row .timeline-item .circle {
  font-size: 13px;
  margin-top: 15px;
  color: var(--light-grey);
  position: relative;
}
.containe #About .historique .education .row .timeline-item .circle i {
  color: var(--orange);
  margin-right: 10px;
}
.containe #About .historique .education .row .timeline-item .circle::before {
  content: "";
  background-color: var(--orange);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 1px;
}
.containe #About .historique .education .row .timeline-item .timeline-title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.containe #About .historique .education .row .timeline-item p {
  color: var(--light-grey);
  font-size: 10px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.containe #About .historique .experience {
  grid-area: experience;
}
.containe #About .historique .experience .title {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  margin: 15px 0;
}
.containe #About .historique .experience .row {
  background-color: var(--grey);
  max-width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: -1px 3px 13px -3px rgba(255, 139, 19, 0.42);
}
.containe #About .historique .experience .row .timeline-item {
  padding-left: 4rem;
  position: relative;
}
.containe #About .historique .experience .row .timeline-item::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 16px;
}
.containe #About .historique .experience .row .timeline-item .circle {
  font-size: 13px;
  margin-top: 15px;
  color: var(--light-grey);
  position: relative;
}
.containe #About .historique .experience .row .timeline-item .circle i {
  color: var(--orange);
  margin-right: 10px;
}
.containe #About .historique .experience .row .timeline-item .circle::before {
  content: "";
  background-color: var(--orange);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 1px;
}
.containe #About .historique .experience .row .timeline-item .timeline-title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.containe #About .historique .experience .row .timeline-item p {
  color: var(--light-grey);
  font-size: 10px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.containe #Services .contain {
  display: grid;
  height: 80%;
  justify-content: center;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  gap: 2rem;
}
.containe #Services .contain .service-item {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border: 4px solid var(--orange);
  border-radius: 5%;
}
.containe #Services .contain .service-item i {
  flex: 0 0 30%;
  color: var(--orange);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containe #Services .contain .service-item .service {
  flex: 0 0 30%;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containe #Services .contain .service-item p {
  flex: 0 0 40%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containe #Services .contain .service-item:hover {
  background-color: #070402;
  scale: 1.05;
}
.containe #Protofolio {
  color: var(--white);
}
.containe #Protofolio .contain {
  display: grid;
  height: 70%;
  justify-content: center;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  gap: 2rem;
}
.containe #Protofolio .contain .protofolio-item img {
  width: 100%;
  height: 100%;
  border: 4px solid var(--orange);
}
.containe #Protofolio .contain .protofolio-item:hover {
  scale: 1.05;
}
.containe #Contact {
  height: auto;
}
.containe #Contact .contain {
  display: grid;
  text-align: center;
  color: var(--white);
  grid-template-columns: 100%;
  grid-template-rows: 100px auto 100px auto;
  grid-template-areas: "qust" "contact" "emailqust" "email";
}
.containe #Contact .contain h1 {
  color: var(--orange);
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 1rem 0;
}
.containe #Contact .contain h3 {
  font-size: 15px;
  font-weight: 600;
}
.containe #Contact .contain .question {
  grid-area: qust;
}
.containe #Contact .contain .contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
.containe #Contact .contain .contact .contact-item {
  flex: 0 0 20%;
  border: 1px solid var(--orange);
  border-radius: 5%;
  padding: 1rem;
}
.containe #Contact .contain .contact .contact-item i {
  color: var(--orange);
  font-size: 2rem;
  padding: 1rem 0;
}
.containe #Contact .contain .contact .contact-item h1 {
  color: var(--white);
  font-size: 16px;
  padding: 0;
}
.containe #Contact .contain .contact .contact-item p {
  font-size: 16px;
}
.containe #Contact .contain .send-email {
  grid-area: emailqust;
}
.containe #Contact .contain .send-email h1 {
  text-transform: uppercase;
}
.containe #Contact .contain .email-contact {
  grid-area: email;
}
.containe #Contact .contain .email-contact label {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}
.containe #Contact .contain .email-contact textarea {
  font-size: 10px;
  border-radius: 10px;
  border: 2px solid var(--orange);
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.containe #Contact .contain .email-contact input {
  display: block;
  width: 100%;
  font-size: 10px;
  border-radius: 10px;
  border: 2px solid var(--orange);
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.containe #Contact .contain .email-contact .btn {
  width: 500px;
  height: 40px;
  text-align: center;
  justify-content: center;
  line-height: 1rem;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--orange);
  cursor: pointer;
}
.containe #Contact .contain .email-contact .btn:hover {
  border: 2px solid var(--orange);
  background-color: var(--black);
}

@-webkit-keyframes slide {
  25% {
    background: center no-repeat url(../img/video2.jpeg);
    background-size: cover;
  }
  50% {
    background: center no-repeat url(../img/video3.jpeg);
    background-size: cover;
  }
  75% {
    background: center no-repeat url(../img/video4.jpeg);
    background-size: cover;
  }
  100% {
    background: center no-repeat url(../img/video1.jpeg);
    background-size: cover;
  }
}

@keyframes slide {
  25% {
    background: center no-repeat url(../img/video2.jpeg);
    background-size: cover;
  }
  50% {
    background: center no-repeat url(../img/video3.jpeg);
    background-size: cover;
  }
  75% {
    background: center no-repeat url(../img/video4.jpeg);
    background-size: cover;
  }
  100% {
    background: center no-repeat url(../img/video1.jpeg);
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */